<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>rXive</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <style>
.mainContent{
  text-align: center;
}
textarea{
  width: 100%;
  height: 200px;
}
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row"><div class="col-md-2"></div>
        <div class="col-md-8 mainContent">
          <a href="/listing"><h1>Hello, world</h1></a>
          <p align="justify">
Lorem ipsum dolor sit amet, amet augue. Volutpat aenean felis risus. Feugiat eu curabitur ac vestibulum dolore, nec suspendisse, praesent at turpis elit et ultrices interdum, inceptos at semper diam mattis sed. Quis sit, a volutpat varius ac pellentesque vivamus, nunc montes tellus pretium phasellus donec neque, vehicula quam ornare. Suspendisse condimentum id non suspendisse erat, lacus pede feugiat erat felis quisque. Enim orci elit consectetuer aliquam scelerisque ullamcorper, placerat bibendum eget condimentum enim mauris ut, praesentium cras libero, varius nulla sed sed sed auctor ad. Neque vitae natoque non ut. Ligula morbi donec massa semper, wisi eu vestibulum vestibulum urna condimentum pede, pede aliquam suscipit nullam, erat ac.</p>
<form action="/get_links" method="POST">
<textarea name="urls" placeholder="Here lies the urls"></textarea><br />
<button type="submit">Get link</button>
</form>
        </div><div class="col-md-2"></div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>